<?php
/**
 * Copyright © 2013-2017 GiaPhuGroup Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 */

// @codingStandardsIgnoreFile

/**
 * @var \Team1\Newsletter\Block\Subscribe $block
 * @see \Team1\Newsletter\Block\Subscribe
 */
?>
<style>
</style>
<div class="block newsletter newsletter-content" id="popup-newsletter">
    <div class="messages">
        <div class="message message-error error">
            <div></div>
        </div>
    </div>
    <div class="newsletter-container">
        <div class="intro newsletter-popup-header">
            <h2 class="newsletter-title"><?php echo __('JOIN THE MELISSA FAMILY AND TAKE') ?></h2>
            <h2 class="newsletter-promotion"><?php echo __('10%'); ?></h2>
            <p><?php /* @escapeNotVerified */
                echo __('Sign up for our mailing list to be the first to know about all our exclusive deals & skneak peeks!'); ?></p>
        </div>
        <div class="content newsletter-popup-content" >
            <form class="form subscribe"
                  novalidate
                  action="<?php /* @escapeNotVerified */
                  echo $block->getFormActionUrl(); ?>"
                  method="post"
                  data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                  id="newsletter-validate-detail">
                <div class="field newsletter">
                    <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */
                            echo __('Sign Up for Our Newsletter:'); ?></span></label>
                    <div class="control">
                        <input name="email" type="email" id="newsletter"
                               placeholder="<?php /* @escapeNotVerified */
                               echo __('Enter your email address'); ?>"
                               data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="actions">
                    <button class="action subscribe primary" title="<?php /* @escapeNotVerified */
                    echo __('Submit'); ?>" type="submit">
                        <span><?php /* @escapeNotVerified */
                            echo __('Submit'); ?></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "Team1_Newsletter/js/process-popup-newsletter": {
                "popupTitle": "<?php /* @escapeNotVerified */
    echo __('Newsletter'); ?>"
            }
        }
    }



</script>
