// Connect Melissa
.connect {
  .connect-title {
    h2 {
      text-align: center;
      font-weight: 600;
    }
  }

  .connect-content {
    display: flex;
    justify-content: center;

    .connect-content-item {
      width: 200px;
    }
  }
}

// Social List
.my-social {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 15px auto 0px auto;

  .social-item {
    img {
      width: 25px;
    }
  }
}


.modal-newsletter-container {
  height: 400px !important;
  text-align: center !important;
  background: #ffe599 !important;
  padding: 0 50px;

  .modal-header {
    .modal-title {
      display: none !important;
    }
  }

  .modal-content {
    /*Modal Content*/

    .newsletter-container {
      .newsletter-popup-header {
        padding: 0 40px;

        .newsletter-title {
        }

        .newsletter-promotion {
          color: crimson;
        }
      }

      .newsletter-popup-content {
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .modal-newsletter-container {
    max-width: 400px !important;
    min-height: 500px !important;
    text-align: center !important;
    background: #ffe599 !important;
    padding: 0;

    .modal-header {
      .modal-title {
        display: none !important;
      }
    }

    .modal-content {
      /*Modal Content*/

      .newsletter-container {
        .newsletter-popup-header {
          padding: 0;

          .newsletter-title {
          }

          .newsletter-promotion {
            color: crimson;
          }
        }

        .newsletter-popup-content {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

/*Modal Popup*/
.popup-newsletter .block.newsletter {
  width: 100%;
}

.newsletter-content {
  display: none;
}

.newsletter-content .messages {
  display: none;
}

.newsletter-content h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: initial;
  margin: 15px 0px;
}

.newsletter-content.block.newsletter .actions {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.newsletter-content .actions .action.subscribe.primary {
  border-radius: 3px;
  width: 100%;
  display: block;
}