<hr>
    <div class="connect">
        <div class="connect-title">
            <h2 ><?php echo $block->getData('connect-title'); ?></h2>
        </div>

        <div class="connect-content">
            <p class="connect-content-item"><?php echo $block->getData('connect-content'); ?></p>
        </div>
    </div>