<div class="my-social">

        <div class="social-item">
            <div><img src="<?php echo $block->getData('social-1'); ?>" alt=""></div>
        </div>

        <div class="social-item">
            <div><img src="<?php echo $block->getData('social-2'); ?>" alt=""></div>
        </div>

        <div class="social-item">
            <div><img src="<?php echo $block->getData('social-3'); ?>" alt=""></div>
        </div>
</div>
