<?php
/**
 * @var \Team1\Instagram\Block\Display $block
 */
$listImage = $block->getImage()->getData();
?>


<div class="slider-container">

    <div class="my-slider">
        <?php foreach ($listImage as $value): ?>
            <div><img src="/pub/media/sample/<?php echo $value["link"] ?>" alt="failed"></div>
        <?php endforeach; ?>
    </div>
</div>


<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        jQuery(document).ready(function () {
            jQuery(".my-slider").slick({
                dots: false,
                infinite: true,
                speed: 400,
                autoplay: true,
                autoplaySpeed: 2000,
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1280,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    });
</script>